@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-remove {
  mix-blend-mode: multiply;
}

.text-gradient {
  background: -webkit-linear-gradient(
    rgba(85, 83, 84, 1) 0%,

    rgb(46, 36, 41) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
